@section scripts
{
    <script src="~/ViewModels/Dog.js"></script>
    <script src="~/ViewModels/Person.js"></script>

    <script type="text/javascript">
        (function() {
            var person = new Mammal.Person();

            person.walkEveryone();

        })();
    </script>
}

<div id="body" style="height: 500px">
 

</div>
